body {
  font-family:sans-serif;
  font-size: 18px;
  line-height: 1.5;
  width: 800px;
  margin: 30px auto;
  border-top: 5px solid #222;
  border-bottom: 5px solid #222;
  background-color: #F6F6F6;
  padding: 50px;
}
h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
span {
  font-weight: bold;
  font-style: italic;
}
.joke {
  text-align: center;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
}
h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 0px;
}
img {
  border: 1px solid #222;
  padding: 5px;
}
nav {
  text-align: center;
  color: #222;
  font-size: 14px;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
}
ul.job {
  padding-left: 100px;
  padding-top:0px;
  padding-bottom: 0px;
}
p.disc {
  padding-top: -4px;
  margin-top: 0px;
}
.date {
  font-size: 10px;
}
.current_page {
  font-weight: bold;
  font-style: italic;
  color: #030609;
  border-left: 1px solid #222;
  padding-left: 3px;
}
